In [1]:
# load data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import datetime

train = pd.read_csv('ccf_offline_stage1_train.csv')
test = pd.read_csv('ccf_offline_stage1_test_revised.csv')

submission = test[['User_id','Coupon_id','Date_received']]
train.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Coupon_id        float64
Discount_rate    object
Distance         float64
Date_received    float64
Date             float64
dtypes: float64(4), int64(2), object(1)
memory usage: 93.7+ MB

In [3]:
# train_user_set = set(train['User_id'])
# test_user_set = set(test['User_id'])

# train_merchant_set = set(train['Merchant_id'])
# test_merchant_set = set(test['Merchant_id'])

# new_user = test_user_set - train_user_set
# new_merchant = test_merchant_set - train_merchant_set

In [4]:
def count_days(d1,d2):
    if np.isnan(d1):
        return 0
    elif np.isnan(d2):
        return 0
    else:
        d1=str(int(d1))
        d2=str(int(d2))
        date1=datetime.datetime(int(d1[0:4]),int(d1[4:6]),int(d1[6:8]))
        date2=datetime.datetime(int(d2[0:4]),int(d2[4:6]),int(d2[6:8]))
        num=(date1-date2).days
        if num<=15:
            return 1
        else:
            return 0

train['Used']=train.apply(lambda x: count_days(x.Date, x.Date_received), axis = 1)

In [5]:
train['User_Merchant'] = list(zip(train['User_id'], train['Merchant_id']))
test['User_Merchant'] = list(zip(test['User_id'], test['Merchant_id']))

In [6]:
df_used = train[train['Date_received'].notnull() & train['Date'].notnull()]
df_cons = train[train['Date_received'].isnull() & train['Date'].notnull()]
df_coupon = train[train['Date_received'].notnull() & train['Date'].isnull()]

d_user_used = dict(df_used.User_id.value_counts())
d_user_cons = dict(df_cons.User_id.value_counts())
d_user_coupon = dict(df_coupon.User_id.value_counts())

d_merchant_used = dict(df_used.Merchant_id.value_counts())
d_merchant_cons = dict(df_cons.Merchant_id.value_counts())
d_merchant_coupon = dict(df_coupon.Merchant_id.value_counts())

d_user_merchant_used = dict(df_used.User_Merchant.value_counts())
d_user_merchant_cons = dict(df_cons.User_Merchant.value_counts())
d_user_merchant_coupon = dict(df_coupon.User_Merchant.value_counts())

In [7]:
train = train[train['Date_received'].notnull()]
all_data = pd.concat([train, test], ignore_index=True, sort=False)

In [8]:
all_data['User_Used'] = all_data.User_id.apply(lambda x:d_user_used[x] if x in d_user_used else 1)
all_data['User_Cons'] = all_data.User_id.apply(lambda x:d_user_cons[x] if x in d_user_cons else 1)
all_data['User_Coupon'] = all_data.User_id.apply(lambda x:d_user_coupon[x] if x in d_user_coupon else 1)

all_data['Merchant_Used'] = all_data.Merchant_id.apply(lambda x:d_merchant_used[x] if x in d_merchant_used else 1)
all_data['Merchant_Cons'] = all_data.Merchant_id.apply(lambda x:d_merchant_cons[x] if x in d_merchant_cons else 1)
all_data['Merchant_Coupon'] = all_data.Merchant_id.apply(lambda x:d_merchant_coupon[x] if x in d_merchant_coupon else 1)

all_data['User_Merchant_Used'] = all_data.User_Merchant.apply(lambda x:d_user_merchant_used[x] if x in d_user_merchant_used else 1)
all_data['User_Merchant_Cons'] = all_data.User_Merchant.apply(lambda x:d_user_merchant_cons[x] if x in d_user_merchant_cons else 1)
all_data['User_Merchant_Coupon'] = all_data.User_Merchant.apply(lambda x:d_user_merchant_coupon[x] if x in d_user_merchant_coupon else 1)

In [9]:
all_data.loc[(all_data['Distance'].isnull()), 'Distance'] = 10.

# all_data['Distance'] = all_data.Distance.apply(str)

In [10]:
def count_weekday(x):
    x = str(int(x))
    wd = datetime.datetime(int(x[0:4]), int(x[4:6]), int(x[6:8])).weekday()+1
    return str(wd)

all_data['Weekday'] = all_data.Date_received.apply(count_weekday)

In [11]:
def count_man(x):
    man = int(x.split(':')[0].split('.')[0])
    return man

all_data['Discount_Man'] = all_data.Discount_rate.apply(count_man)

In [12]:
def count_rate(x):
    if '.' in x:
        return float(x)
    elif ':' in x:
        up = int(x.split(':')[1])
        down = int(x.split(':')[0])
        return float(up/down)

all_data['Discount_Newrate'] = all_data.Discount_rate.apply(count_rate)

In [13]:
all_data

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,Used,User_Merchant,User_Used,...,User_Coupon,Merchant_Used,Merchant_Cons,Merchant_Coupon,User_Merchant_Used,User_Merchant_Cons,User_Merchant_Coupon,Weekday,Discount_Man,Discount_Newrate
0,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0.0,"(1439408, 4663)",1,...,4,76,1358,15115,1,1,1,6,150,0.133333
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0.0,"(1439408, 2632)",1,...,4,4,17,39,1,2,3,3,20,0.050000
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0.0,"(1439408, 2632)",1,...,4,4,17,39,1,2,3,6,20,0.050000
3,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0.0,"(1439408, 2632)",1,...,4,4,17,39,1,2,3,1,20,0.050000
4,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,0.0,"(1439408, 2632)",1,...,4,4,17,39,1,2,3,1,20,0.050000
5,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0.0,"(1832624, 3381)",1,...,1,2487,19356,120347,1,1,1,5,200,0.100000
6,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0.0,"(2029232, 3381)",1,...,3,2487,19356,120347,1,1,1,5,200,0.100000
7,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,0.0,"(2029232, 450)",1,...,3,1461,10824,61581,1,1,1,1,30,0.166667
8,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN,0.0,"(2029232, 6459)",1,...,3,1,20,16,1,2,1,4,20,0.050000
9,2747744,6901,1097.0,50:10,10.0,20160606.0,NaN,0.0,"(2747744, 6901)",1,...,1,994,11787,12892,1,1,1,1,50,0.200000
10,196342,1579,10698.0,20:1,1.0,20160606.0,NaN,0.0,"(196342, 1579)",1,...,1,1,53,14,1,1,1,1,20,0.050000
11,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN,0.0,"(2223968, 3381)",1,...,1,2487,19356,120347,1,1,1,5,10,0.500000
12,73611,2099,12034.0,100:10,10.0,20160207.0,NaN,0.0,"(73611, 2099)",1,...,1,1705,7533,15119,1,1,1,7,100,0.100000
13,163606,1569,5054.0,200:30,10.0,20160421.0,NaN,0.0,"(163606, 1569)",1,...,1,152,918,33448,1,1,1,4,200,0.150000
14,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN,0.0,"(3273056, 4833)",1,...,1,116,643,8205,1,1,1,6,200,0.100000
15,94107,3381,7610.0,200:20,2.0,20160412.0,NaN,0.0,"(94107, 3381)",1,...,1,2487,19356,120347,1,1,1,2,200,0.100000
16,253750,6901,2366.0,30:5,0.0,20160518.0,NaN,0.0,"(253750, 6901)",1,...,2,994,11787,12892,1,1,1,3,30,0.166667
17,253750,8390,7531.0,20:5,0.0,20160327.0,NaN,0.0,"(253750, 8390)",1,...,2,214,1880,833,1,1,1,7,20,0.250000
18,343660,4663,11002.0,150:20,10.0,20160528.0,NaN,0.0,"(343660, 4663)",1,...,1,76,1358,15115,1,1,1,6,150,0.133333
19,376492,1041,13490.0,30:5,2.0,20160127.0,NaN,0.0,"(376492, 1041)",1,...,1,404,3151,8283,1,1,1,3,30,0.166667
20,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN,0.0,"(1964720, 7884)",1,...,1,367,2273,4387,1,1,1,1,20,0.050000
21,1113008,3621,2705.0,20:5,0.0,20160524.0,NaN,0.0,"(1113008, 3621)",1,...,4,1117,4822,19662,1,1,1,2,20,0.250000
22,1113008,2277,1495.0,30:10,0.0,20160523.0,NaN,0.0,"(1113008, 2277)",1,...,4,41,406,1582,1,1,1,1,30,0.333333
23,1113008,1361,11166.0,20:1,0.0,20160515.0,20160521.0,1.0,"(1113008, 1361)",1,...,4,11,60,6,1,1,1,7,20,0.050000
24,1113008,1361,11166.0,20:1,0.0,20160521.0,NaN,0.0,"(1113008, 1361)",1,...,4,11,60,6,1,1,1,6,20,0.050000
25,1113008,1041,11197.0,30:5,2.0,20160114.0,NaN,0.0,"(1113008, 1041)",1,...,4,404,3151,8283,1,1,1,4,30,0.166667
26,2881376,5341,111.0,30:5,1.0,20160207.0,NaN,0.0,"(2881376, 5341)",1,...,2,5653,30585,30509,1,1,2,7,30,0.166667
27,2881376,8390,7531.0,20:5,0.0,20160321.0,20160329.0,1.0,"(2881376, 8390)",1,...,2,214,1880,833,1,1,1,1,20,0.250000
28,2881376,5341,111.0,30:5,1.0,20160207.0,NaN,0.0,"(2881376, 5341)",1,...,2,5653,30585,30509,1,1,2,7,30,0.166667
29,4061024,2709,2840.0,100:10,10.0,20160129.0,NaN,0.0,"(4061024, 2709)",1,...,4,210,1755,35120,1,1,1,5,100,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166892,4194809,1469,11799.0,100:10,1.0,20160717.0,NaN,NaN,"(4194809, 1469)",1,...,2,679,12901,13852,1,1,1,7,100,0.100000
1166893,4194809,760,13602.0,30:5,0.0,20160713.0,NaN,NaN,"(4194809, 760)",1,...,2,3140,15304,41836,1,1,1,3,30,0.166667
1166894,6062585,2050,10438.0,200:20,2.0,20160719.0,NaN,NaN,"(6062585, 2050)",1,...,1,102,1684,1231,1,1,1,2,200,0.100000
1166895,6062585,760,13602.0,30:5,10.0,20160719.0,NaN,NaN,"(6062585, 760)",1,...,1,3140,15304,41836,1,1,1,2,30,0.166667
1166896,6074873,6955,878.0,20:1,0.0,20160724.0,NaN,NaN,"(6074873, 6955)",1,...,1,50,188,85,1,1,1,7,20,0.050000
1166897,6342137,760,13602.0,30:5,7.0,20160728.0,NaN,NaN,"(6342137, 760)",1,...,4,3140,15304,41836,1,1,1,4,30,0.166667
1166898,6342137,5138,8059.0,50:10,1.0,20160704.0,NaN,NaN,"(6342137, 5138)",1,...,4,69,978,392,1,1,1,1,50,0.200000
1166899,6342137,8305,9822.0,200:20,2.0,20160724.0,NaN,NaN,"(6342137, 8305)",1,...,4,75,888,3205,1,1,1,7,200,0.100000
1166900,6342137,1300,3429.0,30:5,10.0,20160718.0,NaN,NaN,"(6342137, 1300)",1,...,4,17,202,83,1,1,1,1,30,0.166667
1166901,4317689,5138,5933.0,50:10,1.0,20160727.0,NaN,NaN,"(4317689, 5138)",1,...,1,69,978,392,1,1,1,3,50,0.200000
1166902,5110265,760,13602.0,30:5,2.0,20160711.0,NaN,NaN,"(5110265, 760)",1,...,2,3140,15304,41836,1,1,1,1,30,0.166667
1166903,5110265,450,9983.0,30:5,2.0,20160711.0,NaN,NaN,"(5110265, 450)",1,...,2,1461,10824,61581,1,1,1,1,30,0.166667
1166904,6422009,5798,5874.0,50:1,1.0,20160710.0,NaN,NaN,"(6422009, 5798)",1,...,4,1,17,11,1,1,1,7,50,0.020000
1166905,4851197,450,9983.0,30:5,10.0,20160713.0,NaN,NaN,"(4851197, 450)",1,...,2,1461,10824,61581,1,1,1,3,30,0.166667
1166906,4894205,3621,2978.0,20:5,0.0,20160711.0,NaN,NaN,"(4894205, 3621)",1,...,1,1117,4822,19662,1,1,1,1,20,0.250000
1166907,7253501,760,13602.0,30:5,5.0,20160714.0,NaN,NaN,"(7253501, 760)",1,...,4,3140,15304,41836,1,1,1,4,30,0.166667
1166908,6485501,760,13602.0,30:5,7.0,20160720.0,NaN,NaN,"(6485501, 760)",2,...,4,3140,15304,41836,1,1,1,3,30,0.166667
1166909,4918781,2050,10438.0,200:20,0.0,20160723.0,NaN,NaN,"(4918781, 2050)",1,...,1,102,1684,1231,1,1,1,6,200,0.100000
1166910,6497789,450,9983.0,30:5,2.0,20160716.0,NaN,NaN,"(6497789, 450)",1,...,1,1461,10824,61581,1,1,1,6,30,0.166667
1166911,7047677,1469,2601.0,100:20,1.0,20160708.0,NaN,NaN,"(7047677, 1469)",1,...,2,679,12901,13852,1,1,1,5,100,0.200000
1166912,6786557,450,9983.0,30:5,0.0,20160718.0,NaN,NaN,"(6786557, 450)",1,...,4,1461,10824,61581,1,14,2,1,30,0.166667
1166913,6801917,760,13602.0,30:5,1.0,20160719.0,NaN,NaN,"(6801917, 760)",1,...,1,3140,15304,41836,1,1,1,2,30,0.166667
1166914,7066109,7024,9144.0,10:1,0.0,20160705.0,NaN,NaN,"(7066109, 7024)",1,...,3,1,44,13,1,1,1,2,10,0.100000
1166915,4451837,760,13602.0,30:5,0.0,20160723.0,NaN,NaN,"(4451837, 760)",1,...,19,3140,15304,41836,1,1,1,6,30,0.166667
1166916,5828093,3621,2978.0,20:5,10.0,20160716.0,NaN,NaN,"(5828093, 3621)",1,...,2,1117,4822,19662,1,1,1,6,20,0.250000
1166917,5828093,5717,10418.0,30:5,10.0,20160716.0,NaN,NaN,"(5828093, 5717)",1,...,2,294,3634,12581,1,1,1,6,30,0.166667
1166918,6626813,1699,7595.0,30:1,10.0,20160707.0,NaN,NaN,"(6626813, 1699)",1,...,2,1,4,8,1,1,1,4,30,0.033333
1166919,6626813,7321,7590.0,50:5,10.0,20160712.0,NaN,NaN,"(6626813, 7321)",1,...,2,1,40,22,1,1,1,2,50,0.100000
1166920,4547069,760,13602.0,30:5,0.0,20160717.0,NaN,NaN,"(4547069, 760)",1,...,3,3140,15304,41836,1,1,1,7,30,0.166667
1166921,6675965,7487,613.0,20:1,5.0,20160728.0,NaN,NaN,"(6675965, 7487)",1,...,4,11,351,409,1,1,1,4,20,0.050000

In [14]:
Feature = ['Used', 'User_Used','User_Cons','User_Coupon','Merchant_Used','Merchant_Cons','Merchant_Coupon','User_Merchant_Used','User_Merchant_Cons','User_Merchant_Coupon','Weekday','Discount_Man','Discount_Newrate','Distance']
all_data = all_data[Feature]

In [15]:
all_data = pd.get_dummies(all_data)
print(list(all_data.columns))

['Used', 'User_Used', 'User_Cons', 'User_Coupon', 'Merchant_Used', 'Merchant_Cons', 'Merchant_Coupon', 'User_Merchant_Used', 'User_Merchant_Cons', 'User_Merchant_Coupon', 'Discount_Man', 'Discount_Newrate', 'Distance', 'Weekday_1', 'Weekday_2', 'Weekday_3', 'Weekday_4', 'Weekday_5', 'Weekday_6', 'Weekday_7']

In [16]:
all_data.to_csv('part2_all_data.csv',index=False)